/* Common styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDB58;
  padding: 10px;
}

main{
  background-color: #FAF9F6;
  display: flex;
}

.title{
  text-align: center;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  box-shadow: 0px 0px 0px 2px #FFDB58;
}

.chart{
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  padding: 20px;
  width: 70%;
  height: 85vh;
}

#dashboardChart{
  width: 100%;
  height: 85vh;
}

.logOut{
  left: 0;
  padding-top: 5px;
  text-align: end;
}

.logOut img{
  width: auto;
  height: 25px;
}

.myButton {
	border-radius: 10px;
	display: inline-block;
  position: relative;
	cursor: pointer;
	color:  black;
	font-family: Arial;
	font-size: 19px;
	padding: 24px 50px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
  margin-left: 10px;
  width: 120px;
}
.myButton:hover {
	background: linear-gradient(to bottom, lightgoldenrodyellow 5%, #FFDB58 100%);
	background-color: lightgoldenrodyellow;
}
.myButton:active {
	position: relative;
	top: 1px; 
}

.logo{
  background-color: #FAF9F6;
  border-radius: 100%;
}

figure img{
  width: 200px;
}

article{
  display: flex;
  align-items: center;
}