<!DOCTYPE html>
<html>
    <head>
        <title>
            Personal Expense Tracker | Dashboard
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="dashboard.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.js"></script>
        <script src="dashboardGraph.js" defer></script>
    </head>
    <body>
        <header>
            <h1 class="title">DASHBOARD</h1>
        </header>
        <main>
            <section class="menu">
                <figure class="logo">
                    <img src="balloon.png"/>
                </figure>
                <article>
                    <figure class="logOut">
                        <img src="new-expense.png"/>
                    </figure>
                    <a href="#" class="myButton">New Expense</a>
                </article>
                <article>
                    <figure class="logOut">
                        <img src="expense.png"/>
                    </figure>
                    <a href="#" class="myButton">Expenses</a>
                </article>
                <article>
                    <figure class="logOut">
                        <img src="analytics.png"/>
                    </figure>
                    <a href="#" class="myButton">Analytics</a>
                </article>
                <article>
                    <figure class="logOut">
                        <img src="logOut.png"/>
                    </figure>
                    <a href="#" class="myButton">Log Out</a>
                </article>
            </section>
            <section class="chart">
                <canvas id="dashboardChart"></canvas>
            </section>
        </main>
    </body>
</html>     