/* Common styles for all screen sizes */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
  }

  main article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(244, 209, 96, 1);
    background-color: white;
  }

  main article section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  main article section button a{
    text-decoration: none;
    color: black;
  }

  .icon{
    width: 3em;
  }
  