body{
    /*background-image: url("../Register/img/bg.jpg");*/
}

header{
    border-radius: 25%;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
}

h2, h3, h5{
    font-family: 'ABeeZee', sans-serif;
}

h5{
    margin-top: -20px;
}

form{
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 50vh; 
    width: 75%;
    z-index: 0;
}

#container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    box-shadow: 5px 5px 5px rgba(244, 209, 96, 1);
    border-radius: 12px;
    background-color: white;
  }

input {
    width: 20vw;
    margin: 10px;
}

img{
    position: absolute;
    margin-left: -60%;
}

.button{
    background-color: rgba(244, 209, 96, 1);
    border: none;
    box-shadow: 2px 2px 5px rgba(244, 209, 96, 1);
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    border-radius: 12px;
    width: 150px;
}
#inline-error{
    font-family: "Inter";
    text-align: center;
    color:red;
  }

  #confirmRegister{
    display: none;
    flex-direction: column;
    align-items: center;
    border:3px solid;
    border-color: blanchedalmond;
    background-color: white;
    position: absolute;
    top: 2em;
    margin: auto;
    padding:1em;
    left: 0;
    right: 0;
    height: fit-content;
    width:fit-content;
    gap: 0.5em;
  }
.button:hover{
    background-color: rgb(218, 176, 41);
    border: none;
    box-shadow: 2px 2px 5px rgba(244, 209, 96, 1);
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 150px;
    size: 50px;
}

.underlined-input {
    border: none;
    border-bottom: 1px solid rgba(244, 209, 96, 1);
    outline: none; 
    padding: 5px;
  }

  #circle {
    width: 60vh;
    height: 60vh;
    border-radius: 0 50% 50% 0;
    background-color:  rgba(244, 209, 96, 1); /* Just an example background color */
    overflow: hidden; /* Hide the bottom half that goes beyond the container */
    position: relative; /* Needed for positioning content inside */
    margin-left: -30%;
    box-shadow: 2px 2px 5px rgb(22, 18, 2);
  }
  
