<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Expense Tracker | Analytics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.js"></script>
    <script src="graphs.js" defer></script>
    <link rel="stylesheet" href="graphs.css">
</head>
<body>
    <header>
        <h1 class="title">ANALYTICS</h1>

        <figure class="logOut">
            <img src="logOut.png"/>
        </figure>
    </header>
    <main>
        <canvas id="myChart"></canvas>
    </main>
</body>
</html>