<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Expense Tracker | Analytics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.js"></script>
    <script src="graphs.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/graphs.css">
</head>
<body>
    <header>
        <a href="/dashboard">
          <abbr title="Back"><img
            class="icon"
            alt="dashboard-icon"
            src="/images/back-button.svg"
            /></abbr>
        </a>
        <h1>ANALYTICS</h1>
        <a href="/login">
          <abbr title="Logout"><img
            class="icon"
            alt="signout-icon"
            src="/images/leave.png"
          /></abbr>
        </a>
      </header>
    <main>
        <canvas id="myChart"></canvas>
    </main>
    <footer><img class="scaryClown" src="/images/clown.gif" alt="scaryClown">Copyright &copy; 2023</footer>
</body>
</html>